<div *ngIf="visible" class="dialog">
	<ng-content></ng-content>

    <div class="rectangle-top">
    <div class="info-top">
      <div class="info-top-description">Cadastro Cartão de Crédito</div>
    </div>
    <div class="x-button">
      <img class="x-img" *ngIf="closable" (click)="close()" src="../../../../assets/shape-copy.svg" >
    </div>
  </div>

 <div class="rectangle-container">
    <form [formGroup]="novoCartaoForm" (ngSubmit)="onSubmit()" >

      <div class="input-div">
        <div class="input-div-center">
          <div class="description">Selecione a bandeira</div>
          <input formControlName="bandeira" id="bandeira" placeholder="Selecione a bandeira" >
        </div>
      </div>
      <div>

        <input formControlName="nomeEscritoCartao" id="nomeEscritoCartao" placeholder="nome Escrito no Cartao" >
      </div>
      <div>
        <input formControlName="numeroCartao" id="numeroCartao" placeholder="numero do Cartao" >
      </div>
      <div>
        <input formControlName="validade" id="validade" placeholder="validade" >
      </div>
      <div>
        <input formControlName="codigoSeguranca" id="codigoSeguranca" placeholder="codigoSeguranca" >
      </div>
      <div>
        <input formControlName="CEP" id="CEP" placeholder="CEP" >
      </div>

      <div>
        <button type="submit" [disabled]="!novoCartaoForm.valid">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
